<div class="panel panel-default library-item">
    <div class="panel-heading">
        <h3 class="panel-title">{{item.name}}</h3>
    </div>
    <div class="panel-body">
<p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{item.address}}</p>
<p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{item.phone}}</p>
    </div>
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>