<div class="panel panel-default library-item">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>{{item.name}}</h3>
    </div>
    <div class="panel-body">
        <p><span class="glyphicon glyphicon-home"></span> {{item.address}}</p>
        <p><span class="glyphicon glyphicon-phone"></span> {{item.phone}}</p>
    </div>
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>